header #nav {padding-right: 10px;}

.content-wide {max-width: 1280px; margin: 0 auto}

.content-wide .distribution {
    width: 100%; height: auto; max-width: 726px; margin: 23px auto; display: block; mix-blend-mode: difference;
}

/* ===== Scrollbar CSS ===== */

body {
    scrollbar-width: thin;
    scrollbar-color: transparent;
    overflow-y: auto
}

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #121212;
    border-radius: 9px;
    border: none;
}
body:hover::-webkit-scrollbar-thumb{background-color: #323232;}
body::-webkit-scrollbar-thumb:hover {background-color: #696969;}

@media screen and (max-width: 959px) {
    header #nav {padding-right: 0;}
}